header {
    background-color: var(--beige);
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    height: 14vh;
}
header img {
    height: 7vh;
}
header a {
    color: var(--mint);
    -webkit-text-stroke-width: 1.5px; 
    -webkit-text-stroke-color: #37172f; 
    text-shadow: 3px 3px 0 #37172f;
    font-size: 28px;
    padding: 10px;
    text-decoration: none;
}

nav {
    
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list li a { 
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: var(--mint);
    -webkit-text-stroke-width: 1.5px; 
    -webkit-text-stroke-color: #37172f; 
    text-shadow: 3px 3px 0 #37172f;
}

.dropdown {
    position: sticky;
    font-size: 24px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav .dropdown-content a {
    background-color: black;
    color: white;
    display: block;
    font-family: 'DoranDoran';
    font-size: 35px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: white; 
    text-shadow: 4px 2px 1px #37172f;
}

nav .dropdown-content a:hover {
    background-color: var(--magenta);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Clearfix */
.nav-list::after {
    content: "";
    clear: both;
    display: block;
}



footer {
    background-color: var(--beige);
    bottom: 0;
    color: var(--magenta);
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    font-size: 24px;
}