@font-face {
    font-family: 'Porkys';
    src: url('media/PORKYS_.TTF') format('truetype'),
}
@font-face {
    font-family: 'DoranDoran';
    src: url('media/Typo_DoranDoran EB.ttf') format('truetype'),
}


* {
    box-sizing: border-box;
}


:root {
    --dbrown: #37172f;
    --magenta: #db3d77;
    --teal: #2bcfab;
    --mint: #b7cf86;
    --beige: #ffe8a4;
}

body {
    font-family: 'Porkys', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #ffe8a4;
    /* overflow: hidden; */
}

button{
    z-index: 3;
    position: fixed;
}

button i {
    color: var(--dbrown);
    font-size: 	1.5em;
}

.fa-circle-play, .fa-circle-info{
    font-size: 1em;
    margin-left: 10px;
}
.play-pause-btn {
    background-color: #2bcfab;
    font-size: 16px;
    padding: 10px 20px;
    border: 3px solid var(--dbrown);
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    top: 25%;
}

.play-pause-btn:hover {
    background-color: #48e2c1;
}

.play-pause-btn:active {
    transform: scale(0.95);
}

.switch-letter-btn {
    background-color: #2bcfab;
    color: var(--dbrown);
    font-size: 3em;
    padding: 10px 20px;
    border: 5px solid var(--dbrown);
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed;
    top: 45%;
}
.left {
    left: 40%;
}
.right {
    right: 40%;
}

.switch-letter-btn:hover {
    background-color: #48e2c1;
}

.switch-letter-btn:active {
    transform: scale(0.95);
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-screen {
    display: flex;
    justify-content: center;
}
.title-animation {
    position: fixed;
    height: auto;
    top: 48%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.animationContainer {
    position: fixed;
    height: auto;
    top: 52%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
}
#pacifier{
    left:20%;
    top:50%;
    width:10%;
    height:10%;
    position:absolute;
}




h1 {
    font-family: 'Albert Sans', sans-serif;
    font-weight: 1000;
    font-size: 22px;
    line-height: 0;
    position: sticky;
    color: var(--dbrown);
}
p {
    font-family: 'Albert Sans', sans-serif;
    font-weight: 450;
    font-size: 16px;
    position: sticky;
    color: var(--dbrown);
}

.about-text{
    padding: 15vh 25% 10vh 25%; 
}


