@font-face {
    font-family: 'Porkys';
    src: url('media/PORKYS_.TTF') format('truetype'),
}
@font-face {
    font-family: 'DoranDoran';
    src: url('media/Typo_DoranDoran EB.ttf') format('truetype'),
}

:root {
    --dbrown: #37172f;
    --magenta: #db3d77;
    --teal: #2bcfab;
    --mint: #b7cf86;
    --beige: #ffe8a4;
}

body {
    font-family: 'Porkys', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #ffe8a4;
    max-height: 100vh;
}

footer {
    background: var(--dbrown);
    color: white;
    padding-left: 50px;
}

#pacifier{
    left:20%;
    top:50%;
    width:10%;
    height:10%;
    position:absolute;
}